// main{
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

/* Navigation Bar */
nav {
  background-color: #fff;
  color:black;
 
}

nav ul {
  list-style: none;
  display: flex;
  justify-content:space-evenly;
  margin-left: -8rem;

}

nav a {
  text-decoration: none;
  color:black;
}

.menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.body{
   
   background-image: url(https://tse4.mm.bing.net/th?id=OIP.6dwd05ucI7PFhHoEG1sjXAHaEo&pid=Api&P=0&h=220);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
  
}

.heading{
  margin-top: 1rem;
  //margin-left: 2rem;
  justify-content: center;
  font-size:x-large;
  font-weight: bolder;
  color: #ddd;

}
.welcome span{
  color: #dc4c64;
}

/* Body Section */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
}

.card {
  flex: 0 0 calc(25.33% - 2rem);
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.card p {
  font-size: 1rem;
  color: #555;
}
.image{
  width: 15rem;
  height: 10rem;
  margin-left: auto;
  //width: min-content;
  //height: min-content;
}
/* Footer */
footer {
  background-color: #fff;
  color: black;
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

footer ul {
  list-style: none;
  display: flex;
}

footer li {
  margin-right: 1rem;
}

footer a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 768px) {
  .card {
      padding: 0.5rem;
  }
}
